.Ground{
    left: 0;
    z-index: 20;
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 20%;
    background-image: url("../images/soilTexture.png");
}

.wet{
    background-color: #291a00;
    transition: background-color 4000ms linear;
}

.dry{
    background-color: #876f51;
    transition: background-color 4000ms linear;
}

.bedrock{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 77%;
    height: 15%;
    z-index: 200;
    background: url("../images/rocks.jpg") repeat-x;
}
