.grass-image {
    z-index: 8;
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 10%;
    background: url("../images/grass.gif") repeat-x;
    transition: opacity 0.8s ease;
}
