.grass-image {
    z-index: 6;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 61%;
    left: 0;
    background: url("https://static.wixstatic.com/media/d55e92_337771a183834c44b015d12b82ad1828~mv2.gif") repeat-x;
    transition: opacity 0.8s ease;
}
.blade {
    animation:breeze 4s cubic-bezier(.8,-0.5,.25,1.5) infinite;
    background-color:#0b0;
    border-right:solid 5px #0c0;
    border-top-right-radius:100%;
    bottom:20%;
    position:absolute;
    transform-origin:bottom;
    transition:all 100ms ease-in-out;
    width:3px;
}
  
  @keyframes breeze {
    0%, 100% {
      transform:inherit;
    }
    50% {
      transform:rotate(5deg);
    }
  }