.morning_clouds {
    position: absolute;
    padding: 200px 0;
    top: 0px;
	left: 0px;

}

.dark-cloudy {
	background: black;
	opacity: 0;
	transition: opacity 1s ease-out;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}
.cloud {
	z-index: 5;
	width: 200px;
	height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    position: relative;
	opacity: 80%;
	-webkit-filter: blur(3px);
}
.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 50%;
	height: 150%;
	top: -15px;
	left: 10px;
	opacity: 80%;
	border-radius: 100px;
	transform: rotate(30deg);
}
.cloud:after {
	opacity: 80%;
	width: 60%;
	height: 210%;
	top: -55px;
	left: auto;
	right: 15px;
}

.cloud1 {
	-webkit-animation: MovingCloud 30s linear infinite;
	-moz-animation: MovingCloud 30s linear infinite;
	-o-animation: MovingCloud 30s linear infinite;
	animation: MovingCloud 30s linear infinite;

}

.cloud2 {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 80%;
	-webkit-animation: MovingCloud 35s linear infinite;
	-moz-animation: MovingCloud 35s linear infinite;
	-o-animation: MovingCloud 35s linear infinite;
}
.cloud3 {
	top: 10%;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 80%;
	-webkit-animation: MovingCloud 40s linear infinite;
	-moz-animation: MovingCloud 40s linear infinite;
	-o-animation: MovingCloud 40s linear infinite;

}
.cloud4 {
	top: 10%;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 80%;
	-webkit-animation: MovingCloud 45s linear infinite;
	-moz-animation: MovingCloud 45s linear infinite;
	-o-animation: MovingCloud 45s linear infinite;
}
.cloud5 {
	top: -150px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 80%;
	-webkit-animation: MovingCloud 50s linear infinite;
	-moz-animation: MovingCloud 50s linear infinite;
	-o-animation: MovingCloud 50s linear infinite;
	-o-animation-delay: 1s;
}
@-webkit-keyframes MovingCloud {
	0% {
		transform: translateX(900%);
	}
	100% {
		transform: translateX(-300%);
	}
}
@-moz-keyframes MovingCloud {
	0% {
		transform: translateX(900%);
	}
	100% {
		transform: translateX(-300%);
	}
}
@-o-keyframes MovingCloud {
	0% {
		transform: translateX(900%);
	}
	100% {
		transform: translateX(-300%);
	}
}

.cloud-image{
	position: absolute;
	top: -100px;
	left: -100px;
	width: 1171px;
	height: 500px;
	animation: move-clouds 20s linear infinite;
	background: url("../images/morning_clouds.png");
	z-index: 2;
}
.cloud-delay{
	animation: move-clouds 20s linear infinite;
	opacity: 0;
	animation-delay: 7s;
	width: 1171px;
	background: url("../images/morning_clouds.png");
}

.cloud-delay-2{
	animation: move-clouds 20s linear infinite;
	opacity: 0;
	animation-delay: 14s;
	width: 1171px;
	background: url("../images/morning_clouds.png");
}

@keyframes move-clouds {
	from{
		transform: translateX(-100%);
		opacity: 100;

	}
	to{
		transform: translateX(150%);
		opacity: 0.2;
	}

}