.Ground{
    z-index: 10;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

.wet{
    background-color: #291a00;
    transition: background-color 4000ms linear;
}

.dry{
    background-color: #876f51;
    transition: background-color 4000ms linear;
}


/*#291a00*/
/*#292519*/
/*#383222*/
/*#473d2b*/
/*#61533a*/
/*#876f51*/