.land-cross-section{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 77%;
    height: 20%;
    background-color: #876f51;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    z-index: 151;
    transition: opacity 0.8s ease;
}