.moon-in {
    height: 100px;
    width: 100px;
    top:5%;
    position: absolute;
    background-color: transparent;
    box-shadow: -20px 20px 0 15px white;
    border-radius: 50%;
    left: 50%;
    z-index: 0;
    animation-name: move-moon-in;
    animation-duration: 4s;
    animation-timing-function: ease;

}

@keyframes move-moon-in {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(5%);
    }
}


@keyframes move-sun-out {
    from {
        transform: translateY(5%);
        opacity: 100;
    }
    to {
        transform: translateY(500%);
        opacity: 0;
    }
}

.sun-off {
    z-index: 0;
    top: 5%;
    left: 50%;
    height: 120px;
    width: 120px;
    opacity: 0;
    background: #FFEE44;
    position: absolute;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 15px;
    animation-name: move-sun-out;
    animation-duration: 4s;
    animation-delay: 3ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
