.moon-in {
    height: 100px;
    width: 100px;
    top:5%;
    position: absolute;
    background-color: transparent;
    box-shadow: -20px 20px 0 15px white;
    border-radius: 50%;
    left: 50%;
    z-index: 0;
    animation-name: move-moon-in;
    animation-duration: 2s;
    animation-timing-function: linear;

}

@keyframes move-moon-in {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0%);
    }
}




.sun-off {
    left: 50%;
    top: 5%;
    opacity: 0;
    z-index: 0;
    height: 120px;
    width: 120px;
    background: orange;
    position: absolute;
    border-radius: 50%;

    box-shadow: 0 0 80px orange,
    0 0 60px orange,
    0 0 200px yellow,
    inset 0 0 80px yellow;
    animation-name: move-sun-out;
    animation-duration: 5s;
    animation-timing-function: ease;
}

@keyframes move-sun-out {
    from {
        transform: translateY(1%);
        opacity: 100;
    }
    to {
        transform: translateY(500%);
        opacity: 0;
    }
}