.sky {
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
    animation-name: sunrise;
    animation-duration: 3s;
    animation-delay: 1ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes sunrise {
    0% {
        background: #00000c;
    }
    10% {
        background: linear-gradient(to bottom, #020111 85%, #191621 100%)
    }
    20% {
        background: linear-gradient(to bottom, #020111 60%, #20202c 100%)
    }
    30% {
        background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%)
    }
    40% {
        background: linear-gradient(to bottom, #20202c 0%, #515175 100%)
    }
    50% {
        background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%)
    }
    60% {
        background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%)
    }
    70% {
        background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%)
    }
    80% {
        background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%)
    }
    90% {
        background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%)
    }
    100%{
        background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
    }
}


/*Gradient for dark night*/
.sky-gradient-00, .sky-gradient-24 {
    background: #00000c;
}


.night-sky{
    height: 80%;
    width: 100%;
    /*background: #fff url(../images/sky.png) repeat-x top left;*/
    z-index: -1;
    background: linear-gradient(to bottom, #00000c 80%,#150800 100%);
    animation-name: sunset;
    animation-duration: 4s;
    animation-delay: 3ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes sunset {
    0% {
        background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%)
    }
    10% {
        background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
    }
    20% {
        background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%)
    }
    30% {
        background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%)
    }
    40% {
        background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%)
    }
    50% {
        background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%)
    }
    60% {
        background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%)
    }
    70% {
        background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%)
    }
    80% {
        background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%)
    }
    90% {
        background: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%)
    }
    95%{
        background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%)
    }
    100%{
        background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%)
    }
}
