.waves div {
    height: 57%;
    width: 30%;
    /*background-color: rgba(117,172,209,0.82);*/
    bottom: 46%;
    position: absolute;
    z-index: 1;
    opacity: 50%;
    box-sizing: content-box;
    border: none;
    border-top-width: 1px;
    border-radius: 50% 50% 0 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-overflow: ellipsis;
    background: rgba(117, 172, 209, 0.82);
}

.wave-1 {
    animation: create-wave-1 1.5s ease alternate;
    animation-iteration-count: infinite;
}

.wave-2 {
    animation: create-wave-2 1.5s ease alternate;
    animation-iteration-count: infinite;
}

.wave-3 {
    animation: create-wave-3 1.5s ease alternate;
    animation-iteration-count: infinite;
}

.wave-4 {
    animation: create-wave-4 1.5s ease alternate;
    animation-iteration-count: infinite;
}

.wave-5 {
    animation: create-wave-5 1.5s ease alternate;
    animation-iteration-count: infinite;
}
.wave-6 {
    animation: create-wave-6 1.5s ease alternate;
    animation-iteration-count: infinite;
}
.wave-7 {
    animation: create-wave-7 1.5s ease alternate;
    animation-iteration-count: infinite;
}
.wave-8 {
    animation: create-wave-8 1.5s ease alternate;
    animation-iteration-count: infinite;
}

@keyframes create-wave-1 {
    from {
        transform: translateX(-40%);
    }
    to {
        transform: translateX(-25%);
    }
}

@keyframes create-wave-2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(15%);
    }
}

@keyframes create-wave-3 {
    from {
        transform: translateX(40%);
    }
    to {
        transform: translateX(55%);
    }
}


@keyframes create-wave-4 {
    from {
        transform: translateX(80%);
    }
    to {
        transform: translateX(95%);
    }
}

@keyframes create-wave-5 {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(135%);
    }
}
@keyframes create-wave-6 {
    from {
        transform: translateX(160%);
    }
    to {
        transform: translateX(175%);
    }
}
@keyframes create-wave-7 {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(215%);
    }
}

@keyframes create-wave-8 {
    from {
        transform: translateX(240%);
    }
    to {
        transform: translateX(255%);
    }
}
