.well{
    height: 30%; width: 20%;
    z-index: 149;
    bottom: 0;
    right: 0;
    position: absolute;

    box-sizing: content-box;

    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgba(45,21,21,1);
    border-left: 2px solid rgba(45,21,21,1);


    text-align: center;
    text-overflow: ellipsis;

    box-shadow: 11px -6px 11px 4px #3c3c3c inset;

    background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;

}


.well-water{
    z-index: 15;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    background: rgba(117,172,209,100);
    transition: height 1s linear;
}

