.morning_clouds {
    position: absolute;
    padding: 200px 0;
    top: 0px;
	left: 0px;

}
.cloud {
	z-index: 5;
	width: 200px;
	height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
    position: relative;
	opacity: 80%;
	-webkit-filter: blur(3px);
}
.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px;
	height: 80px;
	top: -15px;
	left: 10px;
	opacity: 80%;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.cloud:after {
	opacity: 80%;
	width: 120px;
	height: 120px;
	top: -55px;
	left: auto;
	right: 15px;
}

.cloud1 {
	-webkit-animation: MovingCloud 25s linear infinite;
	-moz-animation: MovingCloud 25s linear infinite;
	-o-animation: MovingCloud 25s linear infinite;
}

.cloud2 {
	left: 200px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 80%;
	-webkit-animation: MovingCloud 30s linear infinite;
	-moz-animation: MovingCloud 30s linear infinite;
	-o-animation: MovingCloud 30s linear infinite;
}
.cloud3 {
	left: -250px;
	top: -200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 80%;
	-webkit-animation: MovingCloud 22s linear infinite;
	-moz-animation: MovingCloud 22s linear infinite;
	-o-animation: MovingCloud 22s linear infinite;
}
.cloud4 {
	left: 470px;
	top: -250px;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 80%;
	-webkit-animation: MovingCloud 20s linear infinite;
	-moz-animation: MovingCloud 20s linear infinite;
	-o-animation: MovingCloud 20s linear infinite;
}
.cloud5 {
	left: -150px;
	top: -150px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 80%;
	-webkit-animation: MovingCloud 20s linear infinite;
	-moz-animation: MovingCloud 20s linear infinite;
	-o-animation: MovingCloud 20s linear infinite;
}
@-webkit-keyframes MovingCloud {
	0% {
		margin-left: 900%;
	}
	100% {
		margin-left: -300%;
	}
}
@-moz-keyframes MovingCloud {
	0% {
		margin-left: 900%;
	}
	100% {
		margin-left: -300%;
	}
}
@-o-keyframes MovingCloud {
	0% {
		margin-left: 900%;
	}
	100% {
		margin-left: -300%;
	}
}