.water-pump{
    position: absolute;
    height: 30%;
    width: 5%;
    bottom: 5%;
    right: 18%;
    z-index: 150;
    box-sizing: content-box;
    border-top: 35px solid rgba(0,150,255,0.91);
    border-right: 35px solid rgba(0,150,255,0.91);
    border-bottom: 0 solid rgba(0,150,255,0.91);
    border-left: 0 solid rgba(0,150,255,0.91);

    border-radius: 0 22px 1px 5px / 0 22px 100% 5px;
    color: rgba(255,255,255,1);
    background: transparent;

    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}


.pump-mouth{

}

.pump-neck-1{
    position: absolute;
    width: 2%;
    height: 30%;
    background: #C9CCCB;
    bottom: 5%;
    right: 16%;
    z-index: 300;

}

.pump-neck-2{
    border-radius: 0px 180px 0px 0px;
    position: absolute;
    width: 8%;
    height: 3.5%;
    background: #C9CCCB;
    bottom: 35%;
    right: 16%;
    z-index: 300;

}

.pump-neck-3{
    border-radius: 180px 0px 0px 0px;
    position: absolute;
    width: 3%;
    height: 3.5%;
    background: #C9CCCB;
    z-index: 300;
    bottom: 35%;
    right: 24%;
}

.pump-neck-4{
    position: absolute;
    width: 2%;
    height: 4%;
    background: #C9CCCB;
    bottom: 33%;
    right: 18%;
    z-index: 300;
}
.pump-neck-5{
    border-radius: 0px 180px 0px 0px;
    position: absolute;
    width: 2%;
    height: 2%;
    background: #8FEA7A;
    bottom: 33%;
    right: 18%;
    z-index: 300;
}

.pump-mouth{
    position: absolute;
    width: 3%;
    height: 1%;
    z-index: 300;
    background: #7E7F7F;
    bottom: 34%;
    right: 23.5%;
}